body {
  margin: 0;
  background: radial-gradient(#0b1a12, #000);
  color: #00ff88;
  font-family: monospace;
  text-align: center;
}

h1 {
  margin-top: 20px;
  letter-spacing: 2px;
}

#locations button {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  font-size: 16px;
  background: black;
  color: #00ff88;
  border: 2px solid #00ff88;
}

#status {
  margin-top: 10px;
}

#distance {
  font-size: 18px;
  margin: 10px;
}

#hotCold {
  width: 80%;
  height: 25px;
  border: 2px solid #00ff88;
  margin: 20px auto;
}

#hotFill {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, blue, yellow, red);
  transition: width 0.3s;
}

#compass {
  margin-top: 20px;
  height: 140px;
}

#arrow {
  height: 120px;
  transform: rotate(0deg);
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 16px;
  background: black;
  color: #00ff88;
  border: 2px solid #00ff88;
}
